* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(90deg, red 30%, black 30%, black 70%);
}

.container {
    margin: 0 auto;
    max-width: 1642px;
}

.header {
    display: flex;
    justify-content: space-between;
}


.logo {
    display: flex;
    font-size: 20px;
    align-items: center;
}

.title {
    margin-left: 21px;
    font-style: normal;
}

.header__right {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-right: 71px;
}

.nav {
    display: flex;
    list-style-type: none;
}

.nav__item {
    color: white;
    margin-right: 71px;
}

.nav__link {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.header__search {
width: 189px;
position: relative;
}

.header__search::before {
content: '';
width: 20px;
height: 20px;
display: block;
background-image: url(img/search.png);
background-repeat: no-repeat;
background-size: contain;
background-position: center;
position: absolute;
bottom: 8px;
left: 0;
}

.header__input {
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background-color: black;
    width: 100%;
    color: white;
    display: block;
    height: 100%;
    padding-bottom: 8px;
    padding-left: 44px;
    
}

.content {
    display: block;
    margin-top: 111px;
}


.text {
    font-size: 350px;
    color: white;
    margin-bottom: -22%;
    margin-left: 55px;
    margin-right: 286px;
    font-style: normal;
}

.car {
    width: 1920px;
    height: 1024px;
    margin-bottom: 128px;
}


.footer {
    margin-left: 739px;
    margin-right: 738px;

}


.website {
    align-items: center;
    color: #FF0101;
    font-weight: 600;
    font-size: 25px;
}